.card {
	padding: 20px;
	border-radius: 10px;
	box-shadow: inset 0px -1px 0px 5px rgb(0 0 0);
	background-color: #fff;
	width: 405px;
	height: 50rem;
	margin-bottom: 27px;
}
.card .image {
	width: 85%;
	border-radius: 10px 10px 0 0;
	margin-left: 20px;
}

.card .text {
	font-size: 18px;
	color: #333;
}
.card .title {
	font-size: 22px;
	color: #333;
}

.card h3 {
	font-size: 27px;
	margin-top: 10px;
	color: #000000;
}
.card p {
	font-size: 17px;
	color: #0b0000;
	margin: 13px 0;
}
